$font: 'Montserrat', sans-serif;
$font2: 'Tangerine', cursive;
$theme1 : #FF0000;
$nav : 20;

$pure : #fff; $dark: #000;

// Text Color
$text1 : #2B2A2F; $text2 : #B2B2B2;

// Background Color
$upper: #93959A; $light : #E9EDF0;
$solid : #25272E; $med: #555555; $bg : #f5f6f8; $bg2 : #F5F5F5;

$thin : 300; $reg : 600; $bold : 800;